html,body{margin:0;}

body {
    background-color: #f1f1f1;
}

#header {
    background-color: rgb(160, 169, 179);
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: center;
}

#navigator {
    width: 850px;
}

#container {
    display: flex;
    justify-content: center;
}

#content {
    width: 850px;
}

#checkboxes {
    padding-top: 20px;
    display: inline-block;
    width: 850px;
}

input[type="checkbox"]{
    display: none;
}

#imagecontainer{
    display: inline-block;
    position: relative;
}

#selectall {
    display: none;
    opacity: 50%;
}

#select {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
   
}

:checked+label img {
    border: 5px solid #4890ca;
    filter: saturate(100%);
}

img {
    border: 5px solid #f1f1f1;
    filter: saturate(0%);
    height: 100px;
    width: 100px;
}

#sel{
    border: 5px solid rgb(37, 37, 37);
}


#send{
    margin: 10px;
    height:50px;
    width: 200px;
    background-color: rgb(216, 219, 221);
}

a.headlink {
    color: black;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 20px;

}

a.abouttext {
    color: black;
}

a.headlink:hover {
    text-decoration: underline;
  }



  
  
  
  